


 body {
  height: 100%;
} 

.login-wrapper {
  color: #f1f6fd;
  min-height: 100vh; /* allow to grow when virtual keyboard opens */
  height: auto;
  width: 100vw;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  
  background:
  radial-gradient(circle at top left, rgba(83, 156, 240, 0.18), transparent 40%),
  radial-gradient(circle at bottom right, rgba(35, 134, 54, 0.15), transparent 40%),  #0d1117 ;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

.login-logo-container {
  padding: 0px 0px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-login {
  width: 48px;
}

.login-box-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.login-box {
  padding: 20px 0px;
  width: 364px;
  min-height: 300px;
  border-radius: 10px;
  background-color: #161a23;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  /* animation: pulse 2s infinite alternate; */
  border: 1px solid rgba(83, 156, 240, 0.107);
/* border-radius: 16px; */
}




.input {
  width: 280px;
  border: none;
  height: 35px;
  background-color: #0c1116;
  border-radius: 5px;
  padding: 0 1rem;
  border: 0.5px solid #f1f6fd64;
  font-size: 1rem;
  font-weight: 400;
  color: whitesmoke;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.label {
  display: block;
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: #dbe8fabc;
  transition: color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}
.input:hover {
  border-color: #3d70aa;
}

.input:focus {
  outline: none; /* remove non-animatable outline */
  border-color: #3d70aa;
  box-shadow: 0 0 0 2px #539cf0; /* smooth blue ring */
  font-weight: 400;
}
.submit-btn {
  background-color: #238636;
  border: none;
  width: 250px;
  border-radius: 5px;
  height: 35px;
  color: #f1f6fd;
  font-weight: 700;
  padding: 0 1rem;
}

.submit-btn:hover {
  background-color: #499458;
  cursor: pointer;
}

.label:hover {
  color: white;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  /* background-color: #0d1117; */
}

.text h1 {
  font-weight: 300;
  margin-bottom: 4px;
}
.passkey-signin {
  border: 0.5px solid #e6e9ed;
  width: 360px;
  border-radius: 10px;
  height: 90px;
  margin: 10px auto;
}

.passkey-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.passkey,
.signup {
  color: #2b7df7;
  cursor: pointer;
  /* font-size: px; */
}

.login-btn {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 12px 8px;
  font-weight: 500 !important;
  color: white;
  background-color: #238636;
  cursor: pointer;
  font-size: medium;
  gap: 8px;
}


.spinner {
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
} /* Loader rotation animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.pass-box {
  width: 364px;
  height: auto;
  border-radius: 10px;
  padding: 19px 10px;
  border: 1px solid #3d3d3d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
  margin-top: 13px;
}

.pass-box p {
  font-weight: 500;
}
.signup-button {
  width: 250px;
}

.nd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nd  a {
  margin-left: auto;
  font-size: 0.83rem;
  padding-bottom: 8px;
  font-weight: 500;
  color: #539cf0;
  cursor: pointer;
}

.nd  a:hover {
  color: white;
}

@media screen and (max-width: 400px) {
  .login-wrapper {
    margin-top: 16px;
    /* height: 100vh; */
    width: 100vw;
  }
  .login-box {
    width: 280px;
  }

  .input {
    width: 230px !important;
  }

  .login-btn {
    width: 150px;
  }

  .span {
    margin-left: auto;
  }

  .pass-box {
    width: 280px !important;
    font-size: 0.9rem !important;
    padding: 14px 12px;
  }
}
