.nav1JKLPPOPOIUT {
  display: flex;
  width: auto;
  justify-content: start;
  align-items: center;
  padding: 0 20px;
  background-color: #f6f8fa;
  color: #fff;
  height: 45px;
  margin-top: 67px;
  border: 1px double rgba(0, 0, 0, 0.263);
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.hamburgerJKLPPOPOIUT {
  cursor: pointer;
}

.mobileMenuJKLPPOPOIUT {
  position: absolute;
  top: 60px;
  right: 20px;
  background: #111;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav1JKLPPOPOIUT div {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.iconnJKLPPOPOIUT {
  margin-right: 5px;
  height: 17px;
  width: 17px;
  color: black;
  font-weight: 400px;
}

.divOJKLPPOPOIUT {
  width: 36%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
  border: 1px solid rgba(0, 0, 0, 0.247);
  border-left: none;
  border-right: none;
  border-top: none;
  /* margin-left: 20px; */
}

.divPJKLPPOPOIUT {
  display: flex;
  flex-direction: column;
  /* width: 60%; */
  align-items: center;
  justify-content: center;
}

.imgOJKLPPOPOIUT {
  width: 280px;
  height: 280px;
  border: 1px solid rgba(0, 0, 0, 0.087);
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.paraJKLPPOPOIUT {
  font-weight: 400;
  font-size: 19px;
  margin-right: 36px;
  margin-bottom: 30px;
}

.buttonOPJKLPPOPOIUT {
  height: 40px;
  width: 300px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.301);
  border-radius: 10px;
  cursor: pointer;
  /* margin-left: 90px; */
}

.ddiivJKLPPOPOIUT {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.iooJKLPPOPOIUT {
  cursor: pointer;
  color: #8eadc2;
  height: 19px;
  width: 19px;
  margin-right: 6px;
}

.ppppJKLPPOPOIUT {
  font-weight: 400;
}

.popoJKLPPOPOIUT {
  font-weight: 400;
  font-size: 19px;
  /* margin-left: 26px; */
  margin-top: 20px;
}

.klJKLPPOPOIUT {
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  /* width: 40%; */
  /* width: 900px; */
  margin-left: 30px;

  /* align-items: center; */
  /* justify-content: center; */
}

.kiopJKLPPOPOIUT {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px double rgba(0, 0, 0, 0.194);
}

.BlockJKLPPOPOIUT {
  display: flex;
  width: 160px;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* align-self: center; */
  /* justify-self: center; */
  /* margin-left: 90px; */
  /* justify-content: end; */
  align-items: center;
  /* margin-right: 60px; 
    /* align-items: center; */
  /* margin-right: 60px; */
  margin-right: 215px;
}

.BlockJKLPPOPOIUT img {
  /* margin-left: 40px; */
  margin-top: 10px;
}

.loJKLPPOPOIUT {
  font-weight: 400;
  font-size: 16px;
  color: #8eb7c2;
  margin-top: 10px;
  /* margin-left: 25px; */
}

.main1JKLPPOPOIUT {
  width: 50%;
  margin-top: 25px;
}

.email-wrapper1JKLPPOPOIUT {
  display: flex;
  align-items: center;
  width: 510px;
  gap: 10px;
  margin-left: 20px;
  margin-top: 15px;

  height: 40px;
  border-radius: 12px;
  overflow: hidden;

  /* background-color: #ffffff;
   */
  background-color: #f6f8fa;
  border: 2px solid rgba(0, 255, 187, 0.05); /* gray-500/30 */
}

.email-input1JKLPPOPOIUT {
  width: 80%;
  height: 100%;
  padding-left: 24px;
  margin-left: 5px;
  border: none;
  outline: none;

  background: transparent;
  font-size: 14px;
  /* color: rgba(255, 255, 255, 0.9); */
}

.email-input1JKLPPOPOIUT::placeholder {
  color: #6b7280; /* gray-500 */
}

/* Star button group like GitHub */
.star-btn-group1JKLPPOPOIUT {
  display: inline-flex;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: none;
  border: 1px solid #d0d7de;
  background: #f6f8fa;
  position: relative;
  right: 0px;
}

.star-btn1JKLPPOPOIUT {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #f6f8fa;
  color: #24292f;
  font-size: 12px;
  font-weight: 500;
  border: none;
  padding: 6px 11px 6px 11px;
  cursor: pointer;
  outline: none;
}

.star-btn1JKLPPOPOIUT svg {
  width: 16px;
  height: 16px;
  fill: #1f883d;
}

.trending-card1JKLPPOPOIUT {
  background: #fff;
  border: 1px solid #e3e6ea;
  border-radius: 12px;
  padding: 16px 18px 14px 18px;
  width: 450px;
  font-family: "Inter", "Segoe UI", Arial, sans-serif;
  box-shadow: 0 1.5px 6px 0 rgba(27, 31, 36, 0.04);
  margin-top: 24px;
  margin-left: 20px;
  height: auto;
  transition:
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.22s cubic-bezier(0.4, 0, 0.2, 1);
}

.trending-header1JKLPPOPOIUT {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.trending-title1JKLPPOPOIUT {
  font-size: 16px;
  font-weight: 600;
  color: #24292f;
  display: flex;
  align-items: center;
}

.trending-link1JKLPPOPOIUT {
  font-size: 14px;
  color: #0969da;
  text-decoration: none;
  font-weight: 500;
}

.trending-link1JKLPPOPOIUT:hover {
  text-decoration: underline;
}

.repo-info1JKLPPOPOIUT {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.repo-avatar1JKLPPOPOIUT {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  margin-right: 8px;
}

.repo-name1JKLPPOPOIUT {
  font-size: 16px;
  font-weight: 600;
  color: #0969da;
  text-decoration: none;
  margin-right: auto;
}

.repo-name1JKLPPOPOIUT:hover {
  text-decoration: underline;
}

.repo-desc1JKLPPOPOIUT {
  font-size: 14px;
  color: #24292f;
  margin-bottom: 8px;
  margin-left: 45px;
}

.repo-meta1JKLPPOPOIUT {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 32px;
  font-size: 13px;
  color: #656d76;
  margin-top: 20px;
}

.repo-lang1JKLPPOPOIUT {
  display: flex;
  align-items: center;
  gap: 4px;
}

.lang-dot1JKLPPOPOIUT {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.repo-stars1JKLPPOPOIUT {
  display: flex;
  align-items: center;
  gap: 4px;
  /* fill: #096bda2c; */
}
.trending-card1JKLPPOPOIUT:hover {
  box-shadow:
    0 6px 24px 0 rgba(27, 31, 36, 0.13),
    0 1.5px 6px 0 rgba(27, 31, 36, 0.04);
  transform: translateY(-4px) scale(1.015);
  z-index: 2;
}

.mmopJKLPPOPOIUT {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-around */
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
  /* overflow-x: hidden; */
}

.lplJKLPPOPOIUT {
  /* display: flex;
    flex-direction: column;
    height: 500px;
    align-items: center; */
  /* justify-content: center; */
  /* flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 35px; */

  display: grid;
  grid-template-columns: repeat(2, 450px);
  gap: 20px;
  margin-top: 35px;
  margin-bottom: 10px;
}

.juipJKLPPOPOIUT {
  margin-left: 30px;
  color: #1f2328;
}

.contributions2JKLPPOPOIUT {
  margin-top: 39px;
}

.contrib-header2JKLPPOPOIUT {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.contrib-settings2JKLPPOPOIUT {
  margin-left: auto;
  display: flex;
  gap: 4px;
  align-items: center;
  background: none;
  border: none;
  color: #57606a;
  cursor: pointer;
}

.year-btn2JKLPPOPOIUT {
  background: #0969da;
  color: #ffffff;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
}

.graph2JKLPPOPOIUT {
  width: 900px;
  display: grid;
  grid-template-columns: repeat(26, 1fr);
  gap: 6px;
  margin: 16px 0;
  border: 1px solid rgba(0, 0, 0, 0.155);
  padding: 9px;
  border-radius: 6px;
}

.cell2JKLPPOPOIUT {
  width: 10px;
  height: 10px;
  background: #ebedf0;
  border-radius: 2px;
}

.cell1.active2JKLPPOPOIUT {
  background: #2da44e;
}

.graph-footer2JKLPPOPOIUT {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  color: #57606a;
}

.legend2JKLPPOPOIUT {
  display: flex;
  gap: 4px;
}

.legend2JKLPPOPOIUT div {
  width: 10px;
  height: 10px;
  background: #2da44e;
  opacity: 0.2;
}

.activity2JKLPPOPOIUT {
  margin-top: 32px;
}

.activity-month2JKLPPOPOIUT {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #57606a;
  margin-top: 9px;
}

.muted2JKLPPOPOIUT {
  color: #57606a;
  margin: 16px 0;
}

.show-more2JKLPPOPOIUT {
  background: #f6f8fa;
  border: 1px solid #d0d7de;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.jklpPOPOIUTJKLPPOPOIUT {
  display: flex;
  flex-direction: column;
}

.gh-bio1JKLPPOPOIUT {
  width: 300px;
  margin: 22px 0;
  margin-left: 77px;
}

.edit-btn1JKLPPOPOIUT {
  background: #f6f8fa;
  border: 1px solid #d0d7de;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 19px;
}

.gh-info1JKLPPOPOIUT {
  margin-top: 16px;
  width: 200px;
}

.gh-info1JKLPPOPOIUT div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  color: #57606a;
}

.gh-highlights1JKLPPOPOIUT {
  margin-top: 26px;
  margin-bottom: 10px;
}

.pro-pill1JKLPPOPOIUT {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 4px 10px;
  border-radius: 999px;
  border: 1px solid #d0d7de;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 9px;
}

.kloJKLPPOPOIUT {
  border: 3px double #fd8c73;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 4px;
}

.cardJKLPPOPOIUT {
  width: 340px;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  font-family: sans-serif;
  /* margin-right: 80px; */
  position: absolute;
  left: 40px;
  top: 820px;
  margin-bottom: 20px;
}

/* Header */
.cardHeaderJKLPPOPOIUT {
  height: 170px;
  background: linear-gradient(135deg, #f6b26b, #a4c2f4, #b4a7d6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* .closeBtn {
  position: absolute;
  right: 15px;
  top: 15px;
  background: #111;
  color: white;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
} */

/* Medal */
.medalJKLPPOPOIUT {
  width: 120px;
  height: 120px;
  background: #e5e5e5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.25);
}

/* Body */
.cardBodyJKLPPOPOIUT {
  padding: 20px 24px 30px;
}

.titleRowJKLPPOPOIUT {
  display: flex;
  align-items: center;
  gap: 10px;
}

.titleRowJKLPPOPOIUT h2 {
  margin: 0;
}

.countJKLPPOPOIUT {
  background: #eaeaea;
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.subtitleJKLPPOPOIUT {
  color: #444;
}

.linkJKLPPOPOIUT {
  color: #0969da;
  cursor: pointer;
}

.historyTitleJKLPPOPOIUT {
  color: #555;
  margin-top: 15px;
}

/* History */
.historyItemJKLPPOPOIUT {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #555;
  margin-bottom: 15px;
}

/* Timeline */
.timelineJKLPPOPOIUT {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.dotJKLPPOPOIUT {
  width: 8px;
  height: 8px;
  background: #57606a;
  border-radius: 50%;
}

.timelineJKLPPOPOIUT a {
  color: #0969da;
  text-decoration: none;
}

.starsJKLPPOPOIUT {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #555;
}

@media screen and (max-width: 400px) {
  .mmopJKLPPOPOIUT {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around */
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    flex-direction: column;
  }

  .lplJKLPPOPOIUT {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .trending-card1JKLPPOPOIUT {
    /* margin-left: 35px; */
    margin-left: 1px;
    width: 340px;
  }

  .klJKLPPOPOIUT {
    width: 300px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-left: 17px;
  }

  .nav1JKLPPOPOIUT div {
    font-size: 12px;
  }

  .iconnJKLPPOPOIUT {
    margin-right: 2px;
    height: 12px;
    width: 12px;
  }

  .nav1JKLPPOPOIUT {
    padding: 10px;
  }

  .BlockJKLPPOPOIUT {
    margin-right: 0px;
  }

  .imgOJKLPPOPOIUT {
    height: 230px;
    width: 230px;
  }

  .email-wrapper1JKLPPOPOIUT {
    width: 340px;
    /* margin-right: 60px; */
    margin-left: 0px;
  }
  .email-input1JKLPPOPOIUT {
    width: 340px;
    margin-right: 40px;
  }
  .juipJKLPPOPOIUT {
    width: 220px;
    /* margin-right: 30px; */
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .empty-box2JKLPPOPOIUT {
    margin-top: 16px;
    margin-bottom: 8px;
    padding: 7px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .graph2JKLPPOPOIUT {
    width: auto;
    grid-template-columns: repeat(19, 1fr);
    gap: 4px;
    margin-left: 0px;
    margin-right: 13px;
  }

  .contrib-header2JKLPPOPOIUT {
    margin-left: 0px;
    margin-right: 19px;
    margin-bottom: 30px;
  }
  .graph-footer2JKLPPOPOIUT {
    margin-top: 10px;
    /* margin-left: 9px; */
  }

  .activity2JKLPPOPOIUT h3 {
    padding-bottom: 9px;
    margin-left: 9px;
  }

  .activity-month2JKLPPOPOIUT {
    /* margin-left: 9px; */
  }

  .muted2JKLPPOPOIUT {
    /* margin-left: 14px; */
  }

  .show-more2JKLPPOPOIUT {
    /* margin-left: 9px; */
  }

  .gh-main2JKLPPOPOIUT {
    margin-left: 2px;
  }

  .gh-avatar-large2JKLPPOPOIUT {
    width: 180px;
    margin-top: 10px;
  }

  .avatar-wrapper2JKLPPOPOIUT {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .activity2JKLPPOPOIUT h3 {
    margin-left: 0px;
  }

  .cardJKLPPOPOIUT {
    position: static;
    bottom: 0px;
    /* left: 40px; */
    margin-top: 32px;
  }

  .juipJKLPPOPOIUT {
    width: 270px;
    /* margin-right: 30px;
  margin-left: 10px;
  margin-bottom: 20px; */
  }

  .KRUNAL_PANDYA {
      display: flex;
    align-items: center;
    gap: 2px;
    background: #f6f8fa;
    color: #24292f;
    font-size: 10px;
    font-weight: 600;
    border: none;
    padding: 5px 6px 5px 6px;
    cursor: pointer;
    outline: none;
  }
  .repo-meta1JKLPPOPOIUT {
    margin-left: 0px;
    margin-top: 20px;
  }

}
