/* overlay */
.gh-overlayMAHAKAL {
  position: fixed;
  inset: 0;
  overflow: visible !important;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  z-index: 1000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

/* modal */
.gh-modalMAHAKAL {
   overflow: visible !important;
  width: 720px;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #d0d7de;
  box-shadow: 0 8px 24px rgba(140, 149, 159, 0.2);
  overflow: hidden;
}

/* header */
.gh-headerMAHAKAL {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid #d8dee4;
}

.gh-headerMAHAKAL .iconMAHAKAL {
  cursor: pointer;
  color: #57606a;
}

/* sections */
.gh-sectionMAHAKAL {
  padding: 16px 20px;
}

.gh-sectionMAHAKAL label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
}

.gh-sectionMAHAKAL label span {
  color: red;
}

/* repo select */
.repo-selectMAHAKAL {
  border: 1px solid #d0d7de;
  border-radius: 6px;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: #f6f8fa;
}

.repo-leftMAHAKAL {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* small fake repo icon */
.repo-iconMAHAKAL {
  width: 16px;
  height: 16px;
  border: 2px solid #57606a;
  border-radius: 3px;
}

/* templates header */
.template-headerMAHAKAL {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  color: #57606a;
  background: #f6f8fa;
  border-top: 1px solid #d8dee4;
  border-bottom: 1px solid #d8dee4;
}

/* template item */
.template-itemMAHAKAL {
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.template-itemMAHAKAL:hover {
  background: #f6f8fa;
}

.titleMAHAKAL {
  font-weight: 600;
}

.subtitleMAHAKAL {
  font-size: 14px;
  color: #57606a;
}

/* demo button */
.openBtnMAHAKAL {
  margin: 40px;
  padding: 10px 16px;
  border-radius: 6px;
  border: 1px solid #d0d7de;
  background: #2da44e;
  color: white;
  font-weight: 600;
  cursor: pointer;
}



@media screen and (max-width: 400px) {

  .gh-modalMAHAKAL {
    width: 500px;
    margin-left: 10px;
    margin-right: 10px;
    height: 270px;
  }
}